version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/engine"
    schedule:
      interval: "weekly"

  - package-ecosystem: "pip"
    directory: "/sdks/python"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
