name: Redirect to Docs Site

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: gh-pages

      - uses: actions/upload-pages-artifact@v4
        with:
          path: .

      - id: deployment
        uses: actions/deploy-pages@v4
